[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-sslify = "*"
flask-migrate = "*"
python-dotenv = "*"
requests = "*"
flask-cors = "*"
flask-login = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.7"
