[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlacodegen = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
webargs = "*"
pillow = "*"
captcha = "*"

[dev-packages]

[requires]
python_version = "3.9"
