{% import "_layouts/static.html" as static with context %}
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Title{% endblock %}</title>
    {% block head %}
        {{ static.jquery3() }}
        {{ static.bootstrap4() }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
