{% macro jquery3() %}
    <script src="{{ url_for('static',filename='lib/jquery-3.6.0.min.js') }}"></script>
{% endmacro %}

{% macro bootstrap4() %}
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/bootstrap-4.6.0/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='lib/bootstrap-4.6.0/js/bootstrap.bundle.min.js') }}"></script>
{% endmacro %}

{% macro vue() %}
    <script src="{{ url_for('static',filename='lib/vue-2.6.12.min.js') }}"></script>
{% endmacro %}

{% macro elementUI() %}
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/elementui-2.15.1/element-ui.min.css') }}">
    <script src="{{ url_for('static',filename='lib/elementui-2.15.1/element-ui.min.js') }}"></script>
{% endmacro %}
