{% extends '_layouts/base.html' %}

{% block title %}403{% endblock %}

{% block head %}
    <style>
        * {
            padding: 0;
            margin: 0;
            font-size: 0.38rem;
        }

        html {
            height: 100%;
            width: 100%;
        }

        body {
            font-size: 0.28rem;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: white;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
            -webkit-tap-highlight-color: transparent
        }

        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }

        .content > img {
            height: 300px;
            max-width: 370px;
            margin-right: 180px;
        }

        .content > * {
            display: inline-block;
        }

        .content-r {
            vertical-align: top;
        }

        .content-r > h1 {
            font-size: 72px;
            color: #434e59;
            margin-bottom: 24px;
            font-weight: 600;
        }

        .content-r > p {
            font-size: 20px;
            color: rgba(0, 0, 0, .45);
            margin-bottom: 16px;
        }

        button {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        <img src="{{ url_for('static', filename='images/403.svg') }}" alt="403">
        <div class="content-r">
            <h1>403</h1>
            <p>抱歉，你无权访问该页面</p>
            <button class="layui-btn layui-btn-primary">返回首页</button>
        </div>
    </div>
{% endblock %}
