{% extends '_layouts/base.html' %}

{% block title %}404{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/error.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="content">
        <img src="{{ url_for('static', filename='images/404.svg') }}" alt="404">
        <div class="content-r">
            <h1>404</h1>
            <p>抱歉，你访问的页面不存在或仍在开发中</p>
            <button class="layui-btn layui-btn-primary">返回首页</button>
        </div>
    </div>
{% endblock %}
