{% extends '_layouts/base.html' %}

{% block title %}403{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/error.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="content">
        <img src="{{ url_for('static', filename='images/500.svg') }}" alt="500">
        <div class="content-r">
            <h1>500</h1>
            <p>抱歉，服务器出错了</p>
            <button class="layui-btn layui-btn-primary">返回首页</button>
        </div>
    </div>
{% endblock %}
